
<body>
        <section class="form-registro">
            <h3>Modificar Entrada</h3>
            <div>
                <form action="" method="POST">
                    <input class= "entrada" type="text">
                    <input class= "boton" type="submit" value="Publicar">
                    <br>
                    <textarea class= "cuerpo"  name="cuerpo_entrada" id="" cols="103" rows="20" spellcheck="true" >Cuerpo antiguo</textarea>
                    <input class= "boton2" type="submit" value="Cancelar">  
                </form>
            </div>
        </section>
        <section class="panelderecho">
            <div>
                <aside class="columna_entrada">
                    <label for="etiquetas">Etiquetas</label>
                    <br>
                    <input class="entradapanel" type="etiquetas" placeholder="Separe por comas las etiquetas">
                    <br>
                    <label for="fechapublicacion">Fecha de Publicacion</label>
                    <br>
                    <input class="entradapanel" type="date" placeholder="fecha de publicación">
                    <br>
                    <!-- <label for="Comentarios">Comentarios</label> -->
                    <br>
                    <textarea class="comentario" name="cuerpo_entrada" id="" cols=28px ></textarea>
                </aside>
            </div>
        </section>
</body>