<body>
    <section class="form-registro"> 
        <h3>Formulario de Registro</h3>
        <form method="post">
            <input class= "entrada" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese sus apellidos">
            <input class= "entrada" type="email" name="Correo" id="Correo" placeholder="Ingrese su cuenta de correo">
            <input class= "entrada" type="password" name="Contraseña" id="Contraseña" placeholder="Ingrese su contraseña">
            <input class= "entrada" type="text" name="Nombre" id="Nombre" placeholder="Ingrese su nombre">
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a> </p>
            <!-- <div class="g-recaptcha" data-sitekey="aquivaelcodigo"></div> -->
            <input class= "boton" type="submit" value="Quiero Registrarme">
            <p> <a [routerLink]="['', 'user', 'login']" >¿Ya tienes cuenta?, Inicia Sesión</a> </p>
            <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->

        </form>
    </section>
</body>