<header>
        <div class="topnav">
            <a class="active" href="crear_entrada.html" [routerLink]="['', 'user', 'create' , 'entry']">Nueva</a>
            <a (click)="doUpdate()">Actualizar</a>
            <a href="#">Eliminar</a>
            <a (click)="doOut()">Cerrar Sesión</a>
            <div class="contenedor">
                <form  method="post" [formGroup]="searchGroup" (ngSubmit)="doSearch()" >
                    <input  type="text" formControlName="title" placeholder="Publicación..." name="publicacion">
                    <button class="buscarpublicacion"  type="submit">Buscar</button>
                </form>
            </div>
            
            
        </div>  
</header>


    <body class="body">
        <div>
            <div class="privado">
                <div>
                    <h2>Privadas</h2>
                </div>
                <div>
                    <label class="contenedorpublicacion">HTML para principiantes
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="contenedorpublicacion">Tutorial como hacer login con HTML y CSS
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <div class="publico">
                <div>
                    <h2>Públicas</h2>
                </div>
                <div>
                    <label class="contenedorpublicacion">Conoce más sobre Python
                    </label>
                </div>
                <div>
                    <label class="contenedorpublicacion">Como instalar JAVA
                    </label>
                </div>
            </div>
        </div> 
        <br>
        
    </body>    
    <footer>
        <br><p>Todos los derechos reservados Grupo H Mision Tic 2020 &copy;</p>
    </footer>

    
