<header>
        <div class="topnav">
            <a class="active" href="crear_entrada.html" [routerLink]="['', 'user', 'create' , 'entry']">Nueva</a>
            <a href="#">Actualizar</a>
            <a href="#">Eliminar</a>
            <a href="#">Cerrar Sesión</a>
            <div class="contenedor">
                <form>
                    <input  type="text" placeholder="Publicación..." name="publicacion">
                    <button class="buscarpublicacion"  type="submit">Buscar</button>
                </form>
            </div>
            
            
        </div>  
        <div>
            <br>
            <br>
            <h1 class="titulo-page" > Publicaciones </h1>
        </div>
</header>


    <body class="body">
        <section>
            <div class="blogs">
                <div>
                    <label class="contenedorpublicacion">Conoce más sobre tus mascotas
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="contenedorpublicacion">Conoce más sobre el Oceano
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </section> 
    </body>    
    <footer>
        <p>Todos los derechos reservados Grupo H Mision Tic 2020 &copy;</p>
    </footer>

    
