<header>
    <div>
        <br>
        <h1 class="titulo-blog">Titulo blog</h1>
    </div>
</header>
<section >
    <div  class="content">
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque faucibus nibh, nec elementum nisl lacinia vitae. Integer quis semper est. Duis vehicula ex ut augue rhoncus, nec sodales erat luctus. Mauris nunc nisl, hendrerit at enim et, volutpat suscipit diam. Proin et tortor elementum, volutpat dolor ut, tincidunt nisi. Pellentesque faucibus odio id risus lobortis faucibus. Suspendisse aliquet mollis ullamcorper. Nunc et condimentum risus. In sed dapibus magna, non feugiat ex. Duis egestas orci non aliquam porttitor. Integer turpis orci, cursus ac volutpat et, elementum eu risus. Vivamus et tempus massa, ac tristique erat. Maecenas tincidunt ultricies eros, posuere faucibus risus laoreet in. Suspendisse quis leo enim.</p>
        <p>Phasellus quis laoreet tortor. Suspendisse quis porttitor velit. In posuere velit sagittis nulla volutpat varius. Maecenas suscipit nulla nec nibh faucibus, at molestie ante sagittis. Cras ac cursus velit. Fusce sit amet magna nec ex mollis pretium. Maecenas porta metus consequat augue faucibus aliquam at sed lectus. Proin at ex id dolor lobortis condimentum non quis tortor. Nullam ac finibus justo. Proin a risus convallis, tincidunt lectus ut, rutrum augue.</p>
    </div>
</section>

<section>
    <div class="comentarios content">
        <h3>Comentarios</h3>
        <p><span>usuario</span>:comentarios</p>
    </div>
    <nav class="nav-comentarios">
        <ul>
            <li>
                <a href="../Views/comentariosplanB.html">Haz tu comentario</a>
            </li>
        </ul>
    </nav>
</section>



<footer>
    <p>Todos los derechos reservados Grupo H Mision Tic 2020 &copy;</p>
</footer>
<body>
</body>
