<body>
    <header>
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a [routerLink]="['', 'user', 'register']">Registrarse</a></li>
                <li><a [routerLink]="['', 'user', 'login']">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <h1 class="titulo-blog">Blog H</h1>
    </div>
    </header>
    <div>
    <h2 class="subtitulo">Crear Tus Propios Blogs</h2>
    </div>
    <footer>
    <p>Todos los derechos reservados Grupo H Mision Tic 2020 &copy;</p>
    </footer>
</body>