<body>
    <section class="form-registro">
        <h3>Comentarios</h3>
        
        <div>
            <form action="" method="POST">
                <input class= "boton2" type="submit" value="Comentar">
                <input class= "boton2" type="submit" value="Cancelar">
                <br>
                <textarea class= "cuerpo"  name="cuerpo_entrada" id="" cols="103" rows="20" spellcheck="true" placeholder="Escribe tu comentario"></textarea>
            </form>
        </div>
    </section>
</body>
