<body class="body">
    <section class="form-registro"> 
        <h3>Inicia Sesión</h3>
        <form action="" method="post" [formGroup]="LoginGroup" (ngSubmit)="doLogin()">
            <input class= "entrada" type="email" name="Correo" formControlName="correo" id="Correo" placeholder="Ingrese su cuenta de correo">
            <div class="alert-danger" *ngIf="correo.invalid  && (correo.dirty || correo.touched) " > 
                <div class="container-error-messsage" *ngIf="correo.errors.required"> 
                    El correo es requerido
                </div>
                <div class="container-error-messsage" *ngIf="correo.errors.minlength"> 
                    El correo tiene al menos 5 letras
                </div>
                <div class="container-error-messsage" *ngIf="(correo.dirty || correo.touched) && correo.invalid && correo.errors.pattern"> 
                    El correo tiene que ser valido
                </div>
            </div>
            <br>
            <input class= "entrada" type="password" name="Contraseña" formControlName="contrasena" id="Contraseña" placeholder="Ingrese su contraseña">
            <div class="alert-danger" *ngIf="contrasena.invalid  && (contrasena.dirty || contrasena.touched) " > 
                <div class="container-error-messsage" *ngIf="contrasena.errors.required"> 
                    La contraseña es requerido
                </div>
                <div class="container-error-messsage" *ngIf="contrasena.errors.minlength"> 
                    La contraseña tiene al menos 8 letras
                </div>
            </div> 
            <br>
            <input class= "entrar" type="submit"  value="Entrar al Blog">
            <p> <a [routerLink]="['', 'user', 'change' , 'password']" >¿Se te olvidó la contraseña?, ¡Recuperala!</a> </p>
            <p> <a [routerLink]="['', 'user', 'register']" >¿No tienes cuenta?, Registrate</a> </p>
        </form>
    </section>
</body>
