<body>
        <section class="form-registro">
            <h3>Nueva Entrada</h3>
            
            <div>
                <form action="" method="POST">
                    <input class= "entrada" type="text" placeholder="Titulo Nueva Entrada">
                    <select id="Estado" name="Estado" class= "boton">
                        <option value="Publico" selected>Público</option>
                        <option value="Privado">Privado</option>
                      </select>
                    <br>
                    <textarea class= "cuerpo"  name="cuerpo_entrada" id="" cols="103" rows="20" spellcheck="true" placeholder="Escribe el cuerpo de tu Entrada"></textarea>
                    <input class= "boton2" type="submit" value="Publicar">  
                    <input class= "boton2" type="submit" value="Cancelar">                      
                </form>
            </div>
        </section>
        <section class="panelderecho">
            <div>
                <aside class="columna_categoria">
                    <label class= "columna_titulo" for="categoria">Categoria</label>
                    <br>
                    <select id="categorias" name="categorias" class="boton">
                        <option value="elige" selected>Elige...</option>
                        <option value="python">Python</option>                        
                        <option value="java">Java</option>
                        <option value="javascript">JavaScript</option>
                      </select>
                    <br>
                    <!-- <textarea class="comentario" name="cuerpo_entrada" id="" cols=28px ></textarea> -->
                </aside>
            </div>
        </section>
</body>
