*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.form-registro{
    float: left;
    width: 970px;
    background: #283747;
    padding: 20px;
    margin: auto;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: 'Arial Narrow';
    font-size: 16px;
    color: bisque;
    box-shadow: 7px 10px 50px grey;
}

.panelderecho{
    float: left;
    width: 270px;
    background: #283747;
    padding: 20px;
    margin: auto;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: 'Arial Narrow';
    font-size: 16px;
    color: bisque;
    box-shadow: 7px 10px 50px grey;
}

.form-registro h3{
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
}
.entrada{
    width:78.6%;
    background: #ffffff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 3vh;
    border: none;
    font-family: 'Arial Narrow';
    font-size: 16px;
}

.entradapanel{
    width: 90%;
    border-bottom: #283747;
    background: #ffffff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 1px;
    border: #0a325e;
    font-family: 'Arial Narrow';
    font-size: 16px;
}

.cuerpo{
    width: 100%;
    background: #ffffff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 1px;
    border: none;
    font-family: 'Arial Narrow';
    font-size: 16px;
}

.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    }

.form-registro a{
    color: chartreuse;
    text-decoration: none;
    }

.form-registro a:hover{
    color: chartreuse;
    text-decoration: aqua;

    }

.form-registro .boton{
    width: 19%;
    border-radius: 5px;
    background: #ffffff;
    border: none;
    padding: 8px;
    color: #283747;
    margin: 14px 0 14px 18px;
    font-size: 14px;
    text-shadow: #010f1d;
    font-weight: bold;
    transition: color .15s ease-in-out;
}

.form-registro .boton2{
    width: 50%;
    border: #283747;
    background: #ffffff;
    padding: 8px;
    color: #283747;
    margin: 14px 0;
    margin-bottom: 10px;
    font-size: 14px;
    text-shadow: #010f1d;
    font-weight: bold;
    transition: color .15s ease-in-out;
}

.columna_entrada{
    float: left;
    width: 100%;
    border: none;
    background: #ffffff;
    padding: 8px;
    color: #283747;
    margin: 14px 0;
    font-size: 14px;
    text-shadow: #010f1d;
    font-weight: bold;
    transition: color .15s ease-in-out;
}

.comentario{
    width: 100%;
    background: none;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 1px;
    border: none;
    font-family: 'Arial Narrow';
    font-size: 9px;
}
