<body>
    <header>
        <div>
            <br>
            <h1 class="titulo-blog">{{titulo}}</h1>
        </div>
    </header>
    <section >
        <div  class="content">
            <br>
            <p>{{cuerpo}}</p>
        </div>
    </section>
    <section>
        <div class="comentarios content">
            <h3>Comentarios</h3>
            
        </div>
        <nav class="nav-comentarios">
            <ul>
                <li>
                    <a href="../Views/crear_comentarioplanB.html">Haz tu comentario</a>
                    <a href="../Views/comentariosplanB.html">Ver comentarios</a>
                </li>
            </ul>
        </nav>
    </section>
    <footer>
        <p>Todos los derechos reservados Grupo H Mision Tic 2020 &copy;</p>
    </footer>
    </body>